.navbar a
{
    colour: rgb(225, 230, 235);

}
.bg-darkblue
{
    background-color: rgb(4, 31, 58) !important;
}
.navbar-darkblue
{
    background-color: rgb(19, 60, 100) ;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.postimg.cc/MT2njS67/pexels-bri-schneiter-346529.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.page-intro
{
    text-align: center;
    text-shadow: #2e2e2e;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    color: #efecec;
    background: rgba(19, 60, 100, 0.650);
    padding: 2% 20%;
    margin-left: 0%;
    margin-right: 0%;

    flex-direction: column;

}

.main-title
{
    margin: 0 0 30px 0;
    font-size: 48px;
    letter-spacing: 1px;

}

.main-subitle
{
    font-size: 30px;
}

.projekty
{
    padding-top: 20px;
    border-top: 2px #2e2e2e solid;
}

.project {
    width: 150px;
    height: 200px;
    padding: 10px;
    background: #a4a8c1;
    margin-left: auto;
    margin-right: auto;
}


.section-title {
    margin: 30px 0px 25px 0; /*gora prawo dol lewo */
    text-align: center;
}


.contact {
    text-align: center;
    background-color: #0d083b;
    color: #fafafa;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.technologie {
    background-color: #c4b9b9;
    padding-top: 20px;
}
.photo{
    width: 100px;
    height: 100px;
}
.btn-darkblue{
    background-color:#e7e5fc ;
    text-anchor: aliceblue;
}
